{% set blockClassName = 'nectar-blocks-post-grid' %}

<div class="{{ blockClassName }}__empty">
  <h3 class="{{ blockClassName }}__empty__title">
    {{ i18n.no_posts }}
  </h3>
  <p class="{{ blockClassName }}__empty__sub_desc">
    {{ i18n.no_posts_desc }}
  </p>
</div>